*{margin:0%;
padding:0%;
}


.navbar{
    
    padding-left: 400px;
    padding-right: 40
    0px;
}

header{
    height:300px;
    position: relative
}

.brand{
    position: absolute;
    top:0px;
    padding-left: 650px;
    padding-left: 700px;
   padding-top: 10px;
    
}


    
.navbar-nav{
    gap:25px;
}

.navbar-nav .nav-item a{
    color:black !important;
    font-family:'Times New Roman', Times, serif;
    font-size:30px;
    padding-top: 120px;
    margin-left: 50%;
}




.d-flex{
    
    width:200px;
    height:30px;
}
.card-body a{
    background-color:darkgrey;
    color:black;
    border:none
}

.card-body h5{
    font-family: 'Times New Roman', Times, serif;
    font-size: 21px;
    padding-bottom: 10px; 
  
}



.col img:hover{
    transform: scale(1.1);
    opacity: 0.5;
}

.parent{
    position:relative
}


.introcard{
    margin-left: 300px;
    position: absolute;
    
    top:1100px;
    z-index:12;
    
}

.introcard{
    margin-left: 260px;
}

.card-title{
    padding-top: 90px;
    align-items: left;
    
  
}





 .cards{
    margin-top: 550px;
    
    
}



.cards h1{
    text-align: center;
    padding-right: 10px;
    padding-bottom: 10px;
    font-size: 35px;
    font-family:'Times New Roman', Times, serif ;
}

.title h5{
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    padding-top: 20px;
    
}

.booknow .card-body{
    
    margin-top: 150px;
    
}

.featuredpost .card{
    margin-left: 250px;
    margin-top: 150px;
    margin-bottom: 150px;
    }

    .featuredpost .card-body{
        padding-top: 80px;
    }

    


.card h5{
    padding-left: 30px;
    font-size: 30px;
    font-weight: bold;
    

    
}

.card h6{
    
    font-size: 25px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    padding-top: 50px;
    
}

.card p{
    padding-left: 30px;
    font-size: 20px;
    text-align: center;  
}

.gallerytitle h1{
    font-size: 60px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    padding-bottom: 30px;
}

.gallerytitle h5{
    font-size: 30px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    padding-bottom: 30px;
}

.container .row{
    margin-right: 0px;
}
form{
    margin-top: 150px;
    margin-left: 780px;
    }

form{
    
    padding-right: 200px;
    margin-right: 30px;
    padding-top: 50px;
    padding-bottom: 50px;
}


.header .card-body{
    float:left;
    margin-top: -60px;
    margin-left: 100px;
    
    
}

.header .card-body h5{

    font-size: 40px;
    
    font-family: 'Times New Roman', Times, serif;
    }

    .header .card-body p{
     
    font-size: 20px;
    
    font-family: 'Times New Roman', Times, serif;  
    }

.enquiry{
    
    width:110%;
    
}

